body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}

#probleme {
    margin: 0 auto;
    background-color: tan;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#resultat {
    visibility:hidden;
    margin: 0 auto;
    background-color: tan;
    padding: 10px;
    border-radius: 10px;
}
